@import "bootstrap-sprockets";
@import "bootstrap";

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(142, 36, 170, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(142, 36, 170, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(106, 27, 154, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(106, 27, 154, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #6a1b9a;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #6a1b9a;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #6a1b9a;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #8e24aa;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: asset-url('background.jpg');
    background-size: cover;
  height: 70vh;
}

.jumbotron h1 {
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
    border-color: unset;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float:left;
}

footer ul {
    float:right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

.description {
    margin-top: 0;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    padding-top: 10px;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.article-title a {
    color: #6a1b9a;
    text-decoration: none;
}

.btn-primary {
    background-color: #6a1b9a;
    border-color: #6a1b9a;
}

.btn-primary:hover {
    background-color: #6a1b7a;
    border-color: #6a1b9a;
}